.Navigation {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .previous-button,
  .next-button {
    padding: 10px 20px;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  .previous-button:hover,
  .next-button:hover {
    background-color: #555;
  }

  .Navigation button:disabled {
    background-color: #eee;
    cursor: not-allowed;
  }
  